@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

@import "tailwindcss";


.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@theme {
  --color-primary: #2D28FF;
  --color-secondary: #C7C7C7;
  --color-tertiary: #000000;
}


